ul {
    list-style-type: none;
  }
  
  li {
    position: relative;
    margin: 0;
    padding-bottom: 2em;
    padding-left: 20px;
  }
  
  li:before {
    background-color: #c00;
    width: 2px;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 6.5px;
  }

  li:first-child:before { top: 6px;  }
  
  li:last-child:before { height: 0px; }

  .bullet { margin-left: -20px; width: 15px; fill: #c00; float: left; padding-right: 10px }
  .bullet.big { width: 20px; margin-left: -22px; padding-right: 8px }
