body {
    background-image: url("../Images/IndexBackgroundImage.jpg");
   }

img {
    border-radius: 8px;
  }


  a {
    position: relative;
    text-decoration: none;
    font-family: "Poppins",sans-serif;
    color:blue;
    font-size:18px;

  }

  nav {
    height: 100vh;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
  }


  
