/* Main CSS file */

/* TO DO:
- blured background
- fixed nav gradient
- new site for history
- Sponzoři a ocenění
- loga sponzorů
- Fix fonts, spacing, fix mobile / small view of web
- Move styles into classes
- Next to logo add divider (line between logo and links)
*/

/* Předdefinované barvy (Jediné použité až na shadow a podobné) - R1 */
:root{
  --dark: #221f22;
  --light: #FFF;
  --additional: #4c4897;
  --gray: #bbb;
}



.mujcarousel {
margin: 50px;
}

body {
    background-image: url("../Images/IndexBackgroundImage.jpg");
    background-color: var(--light);
  height: 400px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Jost', sans-serif;
   }

   h2{
    margin-top:60px;
    margin-bottom: -10px;
    font-family: 'Jost', bold;
   }

   h5{
    font-size: 40px;
    margin-top: -5px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: -25px;
    font-stretch:narrower;
    font-family: 'Jost', light;
    color: var(--gray);
   }

   h3{
    margin-top:200px;
    margin-bottom: -420px;
    font-family: 'Jost', sans-serif;
    font-size:50px;
    text-align: center;
   }

   h1{
    text-align: center;
    
    font-size: 40px;
    font-family: 'Jost';
    color:black;
   }

   h4{
    text-align: center;
    white-space: pre-line;
    font-size: 20px;
    font-family: 'Jost';
    color:black;
   }

img {
    border-radius: 4px;
  }

  .background-image {
    max-width: 100%;
    height: 100px;
  }

  .nav-links{
    margin-left:40px;
    margin-bottom: auto;
    margin-top:auto;
  }


  a {
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    color:var(--additional);
    font-size:18px;
    margin-left: 10px;

  }

  nav {
    height: 100vh;
    width: 70vw;
    min-width: 600px;
  }

  ul {
    list-style-type: none;
    margin-top: 400px;
    margin-right:20px;
  }
 



  
  .items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }
  
  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }
  
  .item.prev {
    z-index: 2;
    opacity: 0.25;
    transform: translate(-125%, -50%);
  }
  
  .item.next { 
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%);
  }
  
  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }
  
  .button-container .button {
    color: var(--light);
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .button:hover {
    opacity: 1;
  }
  
  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .button:nth-child(1) {
    float: left;
  }
  
  .button-container .button:nth-child(2) {
    float: right;
  }

  hr.solid {
    border-top: 3px solid var(--gray);
    width: 15vw;
    margin-top:20px;
    margin-bottom: 30px;
  }


  footer {
    background-color: var(--dark);
    color: var(--light);
    padding: 20px;
    width: auto;
  }

  .totally-a-row{
    justify-content: space-between;
    display: flex;
  }

  .footer-part {
    flex: 1;
    text-align: center;
  }




      .container {
      display: flex;
      justify-content: space-between;
      margin: 40px;
    }

    .rectangle-container {
      flex: 0 0 30%;
    }

    .rectangle {
      border: 2px solid #333;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
    }

    .cleared-header{
      margin-top:0px;
    }

    .rectangle-header{
      text-align: center;
      margin-bottom: 10px;
    }